*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}
input, button, textarea, select {
    font-family: inherit;
}
ul, ul[class], 
ol, ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}